:root {
  --md-source: #B1801E;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #160c00;
  --md-ref-palette-primary5: #1a0f00;
  --md-ref-palette-primary6: #1d1100;
  --md-ref-palette-primary10: #271900;
  --md-ref-palette-primary12: #2d1d00;
  --md-ref-palette-primary17: #3a2600;
  --md-ref-palette-primary20: #422c00;
  --md-ref-palette-primary22: #483000;
  --md-ref-palette-primary24: #4e3400;
  --md-ref-palette-primary25: #513700;
  --md-ref-palette-primary30: #5f4100;
  --md-ref-palette-primary35: #6e4c00;
  --md-ref-palette-primary40: #7e5700;
  --md-ref-palette-primary50: #9d6e00;
  --md-ref-palette-primary60: #bd8712;
  --md-ref-palette-primary70: #dba130;
  --md-ref-palette-primary80: #fabc49;
  --md-ref-palette-primary87: #ffd38d;
  --md-ref-palette-primary90: #ffdeab;
  --md-ref-palette-primary92: #ffe4be;
  --md-ref-palette-primary94: #ffebd0;
  --md-ref-palette-primary95: #ffeed9;
  --md-ref-palette-primary96: #fff2e2;
  --md-ref-palette-primary98: #fff8f3;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #160c00;
  --md-ref-palette-secondary5: #1a0f00;
  --md-ref-palette-secondary6: #1d1101;
  --md-ref-palette-secondary10: #261904;
  --md-ref-palette-secondary12: #2a1d07;
  --md-ref-palette-secondary17: #352810;
  --md-ref-palette-secondary20: #3c2e16;
  --md-ref-palette-secondary22: #41321a;
  --md-ref-palette-secondary24: #46371e;
  --md-ref-palette-secondary25: #483920;
  --md-ref-palette-secondary30: #54442a;
  --md-ref-palette-secondary35: #615035;
  --md-ref-palette-secondary40: #6e5c3f;
  --md-ref-palette-secondary50: #887456;
  --md-ref-palette-secondary60: #a38e6e;
  --md-ref-palette-secondary70: #bea887;
  --md-ref-palette-secondary80: #dbc3a1;
  --md-ref-palette-secondary87: #efd7b3;
  --md-ref-palette-secondary90: #f8dfbb;
  --md-ref-palette-secondary92: #fee5c0;
  --md-ref-palette-secondary94: #ffebd0;
  --md-ref-palette-secondary95: #ffeed9;
  --md-ref-palette-secondary96: #fff2e2;
  --md-ref-palette-secondary98: #fff8f3;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #021200;
  --md-ref-palette-tertiary5: #031501;
  --md-ref-palette-tertiary6: #051701;
  --md-ref-palette-tertiary10: #0c2006;
  --md-ref-palette-tertiary12: #102409;
  --md-ref-palette-tertiary17: #1b2f12;
  --md-ref-palette-tertiary20: #213618;
  --md-ref-palette-tertiary22: #253a1c;
  --md-ref-palette-tertiary24: #293f20;
  --md-ref-palette-tertiary25: #2c4122;
  --md-ref-palette-tertiary30: #374d2d;
  --md-ref-palette-tertiary35: #425838;
  --md-ref-palette-tertiary40: #4e6543;
  --md-ref-palette-tertiary50: #667e5a;
  --md-ref-palette-tertiary60: #7f9872;
  --md-ref-palette-tertiary70: #99b38b;
  --md-ref-palette-tertiary80: #b4cea5;
  --md-ref-palette-tertiary87: #c8e2b7;
  --md-ref-palette-tertiary90: #d0eabf;
  --md-ref-palette-tertiary92: #d6f0c5;
  --md-ref-palette-tertiary94: #dbf6ca;
  --md-ref-palette-tertiary95: #def9cd;
  --md-ref-palette-tertiary96: #e1fcd0;
  --md-ref-palette-tertiary98: #edffdf;
  --md-ref-palette-tertiary99: #f7ffed;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #110e09;
  --md-ref-palette-neutral5: #14100c;
  --md-ref-palette-neutral6: #16130e;
  --md-ref-palette-neutral10: #1f1b16;
  --md-ref-palette-neutral12: #231f1a;
  --md-ref-palette-neutral17: #2d2924;
  --md-ref-palette-neutral20: #34302a;
  --md-ref-palette-neutral22: #38342e;
  --md-ref-palette-neutral24: #3d3833;
  --md-ref-palette-neutral25: #3f3b35;
  --md-ref-palette-neutral30: #4b4640;
  --md-ref-palette-neutral35: #57524b;
  --md-ref-palette-neutral40: #635d57;
  --md-ref-palette-neutral50: #7c766f;
  --md-ref-palette-neutral60: #969088;
  --md-ref-palette-neutral70: #b1aaa2;
  --md-ref-palette-neutral80: #cdc5bd;
  --md-ref-palette-neutral87: #e1d9d0;
  --md-ref-palette-neutral90: #eae1d9;
  --md-ref-palette-neutral92: #f0e7de;
  --md-ref-palette-neutral94: #f5ece4;
  --md-ref-palette-neutral95: #f8efe7;
  --md-ref-palette-neutral96: #fbf2e9;
  --md-ref-palette-neutral98: #fff8f3;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #130d05;
  --md-ref-palette-neutral-variant5: #161007;
  --md-ref-palette-neutral-variant6: #191208;
  --md-ref-palette-neutral-variant10: #211b10;
  --md-ref-palette-neutral-variant12: #251f14;
  --md-ref-palette-neutral-variant17: #30291e;
  --md-ref-palette-neutral-variant20: #372f24;
  --md-ref-palette-neutral-variant22: #3c3428;
  --md-ref-palette-neutral-variant24: #40382c;
  --md-ref-palette-neutral-variant25: #423a2e;
  --md-ref-palette-neutral-variant30: #4e4539;
  --md-ref-palette-neutral-variant35: #5a5144;
  --md-ref-palette-neutral-variant40: #675d4f;
  --md-ref-palette-neutral-variant50: #807667;
  --md-ref-palette-neutral-variant60: #9a8f80;
  --md-ref-palette-neutral-variant70: #b6a999;
  --md-ref-palette-neutral-variant80: #d2c5b4;
  --md-ref-palette-neutral-variant87: #e6d8c7;
  --md-ref-palette-neutral-variant90: #eee0cf;
  --md-ref-palette-neutral-variant92: #f4e6d5;
  --md-ref-palette-neutral-variant94: #faecda;
  --md-ref-palette-neutral-variant95: #fdefdd;
  --md-ref-palette-neutral-variant96: #fff2e2;
  --md-ref-palette-neutral-variant98: #fff8f3;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #7e5700;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffdeab;
  --md-sys-color-on-primary-container-light: #271900;
  --md-sys-color-primary-fixed-light: #ffdeab;
  --md-sys-color-on-primary-fixed-light: #271900;
  --md-sys-color-primary-fixed-dim-light: #fabc49;
  --md-sys-color-on-primary-fixed-variant-light: #5f4100;
  --md-sys-color-secondary-light: #6e5c3f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #f8dfbb;
  --md-sys-color-on-secondary-container-light: #261904;
  --md-sys-color-secondary-fixed-light: #f8dfbb;
  --md-sys-color-on-secondary-fixed-light: #261904;
  --md-sys-color-secondary-fixed-dim-light: #dbc3a1;
  --md-sys-color-on-secondary-fixed-variant-light: #54442a;
  --md-sys-color-tertiary-light: #4e6543;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #d0eabf;
  --md-sys-color-on-tertiary-container-light: #0c2006;
  --md-sys-color-tertiary-fixed-light: #d0eabf;
  --md-sys-color-on-tertiary-fixed-light: #0c2006;
  --md-sys-color-tertiary-fixed-dim-light: #b4cea5;
  --md-sys-color-on-tertiary-fixed-variant-light: #374d2d;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1f1b16;
  --md-sys-color-outline-light: #807667;
  --md-sys-color-inverse-on-surface-light: #f8efe7;
  --md-sys-color-inverse-surface-light: #34302a;
  --md-sys-color-inverse-primary-light: #fabc49;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #7e5700;
  --md-sys-color-outline-variant-light: #d2c5b4;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff8f3;
  --md-sys-color-on-surface-light: #1f1b16;
  --md-sys-color-surface-variant-light: #eee0cf;
  --md-sys-color-on-surface-variant-light: #4e4539;
  --md-sys-color-surface-container-highest-light: #eae1d9;
  --md-sys-color-surface-container-high-light: #f0e7de;
  --md-sys-color-surface-container-light: #f5ece4;
  --md-sys-color-surface-container-low-light: #fbf2e9;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #e1d9d0;
  --md-sys-color-surface-bright-light: #fff8f3;
  /* dark */
  --md-sys-color-primary-dark: #fabc49;
  --md-sys-color-on-primary-dark: #422c00;
  --md-sys-color-primary-container-dark: #5f4100;
  --md-sys-color-on-primary-container-dark: #ffdeab;
  --md-sys-color-primary-fixed-dark: #ffdeab;
  --md-sys-color-on-primary-fixed-dark: #271900;
  --md-sys-color-primary-fixed-dim-dark: #fabc49;
  --md-sys-color-on-primary-fixed-variant-dark: #5f4100;
  --md-sys-color-secondary-dark: #dbc3a1;
  --md-sys-color-on-secondary-dark: #3c2e16;
  --md-sys-color-secondary-container-dark: #54442a;
  --md-sys-color-on-secondary-container-dark: #f8dfbb;
  --md-sys-color-secondary-fixed-dark: #f8dfbb;
  --md-sys-color-on-secondary-fixed-dark: #261904;
  --md-sys-color-secondary-fixed-dim-dark: #dbc3a1;
  --md-sys-color-on-secondary-fixed-variant-dark: #54442a;
  --md-sys-color-tertiary-dark: #b4cea5;
  --md-sys-color-on-tertiary-dark: #213618;
  --md-sys-color-tertiary-container-dark: #374d2d;
  --md-sys-color-on-tertiary-container-dark: #d0eabf;
  --md-sys-color-tertiary-fixed-dark: #d0eabf;
  --md-sys-color-on-tertiary-fixed-dark: #0c2006;
  --md-sys-color-tertiary-fixed-dim-dark: #b4cea5;
  --md-sys-color-on-tertiary-fixed-variant-dark: #374d2d;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1f1b16;
  --md-sys-color-on-background-dark: #eae1d9;
  --md-sys-color-outline-dark: #9a8f80;
  --md-sys-color-inverse-on-surface-dark: #1f1b16;
  --md-sys-color-inverse-surface-dark: #eae1d9;
  --md-sys-color-inverse-primary-dark: #7e5700;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #fabc49;
  --md-sys-color-outline-variant-dark: #4e4539;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #16130e;
  --md-sys-color-on-surface-dark: #cdc5bd;
  --md-sys-color-surface-variant-dark: #4e4539;
  --md-sys-color-on-surface-variant-dark: #d2c5b4;
  --md-sys-color-surface-container-highest-dark: #38342e;
  --md-sys-color-surface-container-high-dark: #2d2924;
  --md-sys-color-surface-container-dark: #231f1a;
  --md-sys-color-surface-container-low-dark: #1f1b16;
  --md-sys-color-surface-container-lowest-dark: #110e09;
  --md-sys-color-surface-dim-dark: #16130e;
  --md-sys-color-surface-bright-dark: #3d3833;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
